header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.head-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bold {
  font-weight: bold;
}

h1 {
  padding: 0px;
  margin: 5px 0px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggleView {
  background-color: #4a4a4a;
  color: white;
  border: none;
  width: 30%;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#toggleView:hover {
  background-color: #3a3a3a;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

#toggleView:active {
  background-color: #2a2a2a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5rem;
}

.navbar ul li a:hover {
  color: black;
}

.navbar ul li a.current {
  font-weight: bold;
  font-style: italic;
  color: hwb(0 86% 13%);
  border-bottom: 2px solid hwb(0 86% 13%);
}
.navbar ul li a.active {
  color: white; /* Change color of active link */
  border-radius: 5px; /* Optional: add rounded corners */
  font-weight: bold; /* Make the active link bold */
  text-decoration: underline; /* Optional: underline the active link */
  padding: 10px 15px; /* Adjust padding to make it stand out */
}
a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: black;
}

main {
  display: block;
  padding: 0px;
}

.hero img {
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-bottom: 0%;
  max-height: 270px;
  object-fit: cover;
}

.events {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.event-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.event-item h3 {
  margin: 0;
  font-size: 1rem;
}

.event-item p {
  margin: 5px 0;
}

.event-item:last-child {
  border-bottom: none;
}

#membersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-view .member-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.list-view .member-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  justify-content: center;
}

.member-card img {
  width: 100px;
  margin-bottom: 10px;
}

.member-card {
  gap: 10px;
}

.member-card a {
  color: black;
}

footer {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .certificate .courses {
    grid-template-columns: 1fr;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #2a405e;
  }

  .navbar.active ul {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .grid-view .member-card,
  .list-view .member-card {
    width: 100%;
    flex-direction: column;
  }

  header {
    flex-direction: column;
  }

  footer div {
    display: none;
  }

  footer div:last-child {
    display: block;
  }
}
