.hero {
  position: relative;
}

.cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 5px;
}

.cta:hover {
  background-color: #2a405e;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 1%;
}

.weather,
.events,
.spotlight {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.spotlight {
  grid-column: 1/3;
}

h2 {
  margin-bottom: 2%;
}

.weather,
.events,
.spotlight a {
  color: black;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
  .spotlight {
    grid-column: auto;
  }
}
