* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #2a405e;
  color: white;
  padding: 50px;
  display: flex;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

.profile {
  display: flex;
}

.profile img {
  width: 80px;
  height: 80px;
  border-radius: 20%;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.menu-toggle {
  display: none;
  top: 5px;
  margin-left: 10px;
  font-size: 2rem;
}

.menu-toggle:hover {
  color: rgb(33, 30, 203);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: large;
}

.navbar ul li a:hover {
  color: white;
}

.navbar ul li a.current {
  font-weight: bold;
  font-style: italic;
  color: hwb(0 86% 13%);
  border-bottom: 2px solid hwb(0 86% 13%);
}

.coursework,
.location {
  width: 90%;
  margin: 0 auto;
}

.coursework,
.location,
.certificate {
  background-color: hwb(0 86% 13%);
  padding: 20px;
  border-radius: 8px;
}
.courses button {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}

.courses button.completed {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: black;
}
.courses button.completed:hover {
  background-color: rgb(190, 210, 159);
}
.courses button.cse {
  border-left: 4px solid #007bff;
}

.courses button.wdd {
  border-left: 4px solid #28a745;
}

.coursework ul {
  margin-top: 10px;
  margin-left: 5%;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.location img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
}

.location p {
  text-align: center;
  margin-top: 5px;
}

.certificate {
  grid-column: 1/3;
}

.certificate .filter {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.certificate .filter button {
  width: 20%;
  background-color: #2a405e;
}

.certificate .courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.certificate button {
  padding: 10px;
  background-color: #d6b7ae;
  color: white;
  border: none;
  border-radius: 5px;
}
.courses button {
  color: black;
}
.courses button:hover {
  background-color: rgb(159, 128, 128);
}
footer {
  text-align: center;
  background-color: #2a405e;
  color: white;
  padding: 10px;
  margin-top: 20px;
  font-family: "PT Mono", system-ui;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .certificate-section .courses {
    grid-template-columns: 1fr;
  }

  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .certificate .courses {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .menu-toggle {
    display: block;
  }

  .navbar {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #2a405e;
    top: 80px;
    left: 0;
  }

  .navbar.active {
    display: flex;
  }
}
